.card {
    display: flex;
    background-color: white;
    color: black;
    border-radius: 12px;
    height: 203px;
    width: 468px;
    box-shadow: 7px 2px 16px -4px rgba(0,0,0,0.75);
    margin: 20px;
}

.card__img {
    width: 203px;
    height: 203px;
    border-radius: 12px 0px 0px 12px;
}

.card__text {
    width: 265px;
    padding: 0px 20px 0px 20px;
}

.card__song {
    font-size: 24px;
    margin: 0;
    margin-top: 30px;
    text-align: left;
    line-height: 0.9;
}
.card__artist {
    margin: 0;
    text-align: left;
    font-size: 12px;
    color: #7c7c7c;
}
.card__album {
    margin: 0;
    margin-top: 20px;
    text-align: left;
    color: #7c7c7c;
    font-weight: bold;
    line-height: 0.9;
}
.card__year {
    margin: 0;
    text-align: left;
    color: #7c7c7c;
    font-size: 13px;
    font-weight: 500;
}
.card__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card__genre {
    align-self: center;
    font-size: 12px;
    font-weight: bold;
    background-color: #15db62;
    padding: 2px 20px 2px 20px;
    border-radius: 20px;
    color: white;
}

.card__heart {
    color: #7c7c7c;
}
.card__heart--liked {
    color: #15db62;
}

.fa-heart {
    cursor: pointer;
    font-size: 24px;
}
